.register,
.login,
.mainContent{
  background: url('../images/formBackground.jpg');
  margin: auto;
  width: 350px;
  border: 5px solid rgb(0, 0, 0);
  padding: 10px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: url('../images/pageBackground.jpg');
}

.defaultBooks{
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 30px;
  background: url('../images/formBackground2.jpg');
  border: 3px solid rgb(0, 0, 0);
  width: auto;
}

.bookContainer{
  margin-left: 5%;
  margin-bottom: 5%;
  margin-right:5%;
  background: #e5e0e0;
  border: 3px solid black;
}

.bookContainer p{
  color: red;
  margin-left: 5%;
  margin-right:5%
}

.bookContainer button{
  margin-left: inherit;
  margin-bottom: 3%;
}

.defaultBooks h3{
text-align: center;
}

body .register .error {
  color: red;
  text-align: center;
  font-size: 25px;
}

#error {
  color: red;
  text-align: center;
  font-size: 25px;
}

div {
  display: block;
  margin: 0;
  padding: 0;
  text-align: left;
}